{% extends "base.html" %}

{% block content %}
   <div class="jumbotron">
       <div class="container">
           <h1>Account</h1>
           <p>Manage tables and get URLs</p>
       </div>
   </div>

   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2>Tables</h2>
               <table class="table table-striped">
                 <tr>
                   <th>No.</th>
                   <th>URL</th>
                   <th>Delete</th>
                 </tr>
                 {% for table in tables %}
                  <form class="form-inline" action="/account/deletetable" method="POST">
                    <tr>
                      <td>{{ table.number }}</td>
                      <td>{{ table.url }}</td>

                      <input type="text" name="tableid" value="{{ table._id }}" hidden>
                      <td><input type="submit" value="Delete" class="form-control"></td>
                    </tr>
                  </form>
                  {% endfor %}
               </table>
               <h2>Add new table</h2>
               <form class="form-inline" action="/account/createtable" method="POST">
                 <div class="form-group">
                   {% if createtableform.tablenumber.errors %}
                      <ul class="errors">
                        {% for error in createtableform.tablenumber.errors %}
                          <li>{{ errror }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {{ createtableform.csrf_token }}
                    {{ createtableform.tablenumber(class="form-control",
                       placeholder="Table number or name")}}
                    {{ createtableform.submit(value="Create",
                       class="btn btn-primary")}}
                 </div>
               </form>
               <h2>Add New Categorie</h2>
               <form class="form-inline" action="/orders/addcategorie" method="POST">
                 <div class="form-group">
                   {% if createmenucategorieform.categorie_name.errors %}
                      <ul class="errors">
                        {% for error in createmenucategorieform.categorie_name.errors %}
                          <li>{{ errror }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {{ createmenucategorieform.csrf_token }}
                    {{ createmenucategorieform.categorie_name(class="form-control",
                       placeholder="Categorie name")}}
                    {{ createmenucategorieform.submit(value="Create",
                       class="btn btn-primary")}}
                 </div>
               </form>
               <h2>Add Menu Item</h2>
               <form class="form-inline" action="/orders/addcategorie" method="POST">
                 <div class="form-group">
                   {% if addmenuitemform.item.errors %}
                      <ul class="errors">
                        {% for error in addmenuitemform.item.errors %}
                          <li>{{ errror }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {{ addmenuitemform.csrf_token }}
                    {{ addmenuitemform.name(class='dropdown-content')}}
                    {{ addmenuitemform.item(class="form-control",
                       placeholder="Item name")}}
                    {{ addmenuitemform.description(class="form-control",
                       placeholder="Description")}}
                    {{ addmenuitemform.price(class="form-control",
                       placeholder="Price")}}
                    {{ addmenuitemform.submit(value="Add",
                       class="btn btn-primary")}}
                 </div>
               </form>
     
           </div>
       </div>
   </div>

   {% endblock %}
