
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <style type="text/css">
        ul.errors {
            list-style-type: none;
            padding: 0;
            color: red;
        }
    </style>
    <title>Your Order Please</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


  </head>
{% block bodytag %}
  <body {% if onloadmessage %} onload="alert('{{ onloadmessage }}');" {% endif %}>
{% endblock%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Your Order Please</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right" action="/login" method="post">
            {% if loginform.errors %}
              <ul class="errors">
                {% for field_name, field_errors in loginform.errors|dictsort
                if field_errors %}
                    {% for error in field_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
              </ul>
            {% endif %}
            {{ loginform.csrf_token }}
            <div class="form-group">
              {{ loginform.loginemail(class="form-control", placeholder="Email Addres")}}
            </div>
            <div class="form-group">
              {{ loginform.loginpassword(class="form-control", placeholder="Password")}}
            </div>
            <div class="form-group">
             {{ loginform.submit(value="Sign in", class="btn btn-success")}}
            </div>
          </form>


        </div><!--/.navbar-collapse -->

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Your Order Please</h1>
        <p>This site is for restaurants, foodtrucks and commerce where they can create a menu, and handle the orders by giving a link to the curstomers where they can acces to a form, from where they can please they orders and it will give then a number and show the infor of the order to the restaurant.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Who is it focus to?</h2>
          <p>For restaurants who has a fixed menu, that change not so regularly, like every week of monthly. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>What are the advantages?</h2>
          <p>With our app, you have a interactive way of handle the orders, without working directly with the customer, this bring a fixed and organize way to make orders for faster customer service. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
         <div class="col-md-4">
          <h2>Register Restaurant Now</h2>
           <form class="form-horizontal" action="/register" method="post">
           {{ registrationform.csrf_token }}
            <div class="form-group">
              <div class="col-sm-9">
              {% if registrationform.email.errors %}
              <ul class="errors">
               {% for error in registrationform.email.errors%}
                <li>{{ error }}</li>
               {% endfor %}
                 </ul>
              {% endif %}
              {{ registrationform.email(class="form-control", placeholder="Email Address")}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                {% if registrationform.password.errors %}
                <ul class="errors">
                 {% for error in registrationform.password.errors%}
                  <li>{{ error }}</li>
                 {% endfor %}
                 </ul>
                {% endif %}
                {{ registrationform.password(class="form-control", placeholder="Password")}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
               {% if registrationform.password2.errors %}
                <ul class="errors">
                 {% for error in registrationform.password2.errors%}
                  <li>{{ error }}</li>
                 {% endfor %}
                 </ul>
                {% endif %}
                {{ registrationform.password2(class="form-control", placeholder="Confirm Password")}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                {{ registrationform.submit(class="btn btn-primary btn-block")}}
              </div>
            </div>
          </form>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy;  <strong>FGrullon</strong> 2017 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>

