<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=devide-width, initial-scale=1">
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

{% block metarefresh %} {% endblock %}

  <title>Waiter Caller</title>

<!-- Bootstrap core CSS-->
 <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#menu-list" >

    <div class="container">
        <!-- Example row of columns -->
          <h1>Menu</h1>
          <p class="lead"><i>Search by category the items you want and click to add to the cart.</i></p>
          <div class="row">
              <div class="col-md-4" id="menu-list">
                  <ul class="nav nav-tabs nav-stacked" data-offset-top="120" data-spy="affix">
                    {% for category in categories %}
                      <li><a href="#{{ category }}">{{ category }}</a></li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="col-md-4">
            {% for item in menu %}
              <div id="{{item['categorie_name']}}">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ item["item_name"] }}</h5>
                  <small class="small-price"><strong>DOP${{ item["price"] }}</strong></small>
                </div>
                <p class="mb-1">{{ item["description"] }}</p>
              </a>
              </div>
             {% endfor %}
            <hr>
          </div>



       <div class="col-md-4">
            <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:60%">Product</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"></div>
                  <div class="col-sm-10">
                    <h4 class="nomargin">Bacon Cheese Burguer</h4>
                  </div>
                </div>
              </td>
              <td data-th="Quantity">
                <input type="number" class="form-control text-center" value="1">
              </td>
              <td data-th="Subtotal" class="text-center">355.00</td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-angle-left"></i> X</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="visible-xs">
              <td class="text-center"><strong>Total 355.00</strong></td>
            </tr>
            <tr>
              
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total $355.00</strong></td>
              <td><a href="#" class="btn btn-success btn-block">Ordenar <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
        </div>
       </div>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>