{% extends "base.html" %}

{% block content %}
   <div class="jumbotron">
      <div class="container">
        <h1>Ordenes</h1>
        <p>Selecciones los productos del menu.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                    <li>
                      <a href="{{ category }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
         
        <div class="col-md-4">
          <h2>Burguers</h2>
          <ul>
            {% for item in menu %}
            
            <hr>
            {% endfor %}
          </ul>
       </div>
  

       <div class="col-md-4">
            <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:60%">Product</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"></div>
                  <div class="col-sm-10">
                    <h4 class="nomargin">Bacon Cheese Burguer</h4>
                  </div>
                </div>
              </td>
              <td data-th="Quantity">
                <input type="number" class="form-control text-center" value="1">
              </td>
              <td data-th="Subtotal" class="text-center">355.00</td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-angle-left"></i> X</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="visible-xs">
              <td class="text-center"><strong>Total 355.00</strong></td>
            </tr>
            <tr>
              
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total $355.00</strong></td>
              <td><a href="#" class="btn btn-success btn-block">Ordenar <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
        </div>
     
            </div>

     
    </div> <!-- /container -->


{% endblock %}